/** Page Design **/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$color_1: white;

$font_family_1: 'Roboto Mono', monospace, Serif, sans-serif, arial;

$background_color_1: black;

$font_size_1: 2em;

$font_size_2: 2.5em;

$font_size_3: 1.5em;

body {
	background-color: $background_color_1;
    font-family: $font_family_1;
    font-size: $font_size_1;
    text-align: center;
}

.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
    flex-wrap: wrap;
}

div > h1 {
    margin-bottom: 0%;
    margin-left: 5%;
}

p {
    color: $color_1;
}

.logo {
    color: $color_1;
    font-size: $font_size_2;
    text-decoration: none;
    margin-top: 1%;
}

#navBar {
    padding-top: 5%;
    padding-bottom: 5%;
    justify-self: center;
    font-size: $font_size_3;
}

button[type="Submit"] {
    font-family: $font_family_1;
    font-size: 1em;
    text-align: center;
    margin-top: 5%;
}

.btn {
    text-decoration: none;
}

 #textarea {
    font-family: $font_family_1;
    font-size: 1em;
    text-align: left;
    text-indent: .5em;
}

@media screen and (max-width: 320px) {
    .logo {
        font-size: $font_size_3;
        width: 100%;
    }
    #search {
        margin-bottom: 10%;
    }  
    #textarea {
        width: 75%;
        font-size: 25px;
    }  
    .btn {
        font-size: 45px;
    }
}

