/** Media Queries **/
$mq-1: 48em !default; /* 768px / 16px = 48em */
$mq-2: 62em !default;

/** Small Screens and up**/
@mixin small-up {
    @media only screen and (min-width: 450px) {
        @content;
    }
}

/** Medium Screens and up **/
@mixin medium-small-up {
    @media only screen and (min-width: 660px) {
        @content;
    }
}

/** Page Design **/

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

$color_1: white;

$font_family_1: "Indie Flower", Serif, sans-serif, arial;

$background_color_1: black;

$font_size_1: 2em;

$font_size_2: 2.5em;

$font_size_3: 1.5em;

body {
	background-color: $background_color_1;
    font-family: $font_family_1;
    font-size: $font_size_1;
    text-align: center;
    
}

p {
    color: $color_1;
}

.logo {
    color: $color_1;
    font-size: $font_size_2;
    text-decoration: none;
    float: left;
}

.form .search-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }


#search {
    float: right;
}

#navBar {
    padding-top: 15%;
    padding-bottom: 5%;
    text-decoration: none;
    float: center;
    font-size: $font_size_3;
}

button[type="Submit"] {
    font-family: $font_family_1;
    font-size: 1em;
    text-align: center;
    margin-top: 5%;
}

 #textarea {
    font-family: $font_family_1;
    font-size: 1em;
    text-align: left;
    text-indent: .5em;
}

img {
    padding: auto;
}